body{
    margin: 0;
    padding: 0;
    background-color:#f1f1f1;
    max-width: 100%;
    overflow-x: hidden; 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    padding: 0;
    margin: -40px auto;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    background-color: #f1f1f1;
    box-shadow: 0 1px 50px rgba(0,0,0,0.4);
}

header img{
    width: 20%;
    height: 60%;
    margin: 0 auto;
}

header .btn-login{
    text-decoration: none;
    color: #f1f1f1;
    background-color: #111;
    padding: 5px 15px;
    border-radius: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.main{
    width: 1200px;
    display: flex;
    margin: 30px auto;
}

.conteiner{
    width: 75%;
    border-radius: 15px;
    margin-left: 280px;
    margin-top: 100px;
    background: #ffffff;
}

.conteiner h2{
    margin-left: 25px;
}

.sidebar {
    width: 220px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 100px;
    height: 500PX;
    position: fixed;
}

.sidebar h3 {
    margin-bottom: 15px;
}

.filtro {
    margin-bottom: 20px;
}

.filtro h4 {
    margin-bottom: 8px;
}

.filtro label {
    display: block;
    margin-bottom: 5px;
}


.produtos {
    padding: 40px 20px;
    text-align: center;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 20px;
}

.produto {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}

.produto img {
    width: 100%;
    border-radius: 8px;
}

.produto button {
    background: black;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}


.modal-content {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    animation: aparecer 0.3s ease;
}

.modal-content img {
    width: 80%;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.finalizar {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes aparecer {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
